certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
dtaidistance==2.3.12
dtw-python==1.5.3
filelock==3.17.0
fsspec==2025.2.0
idna==3.10
Jinja2==3.1.5
llvmlite==0.44.0
MarkupSafe==3.0.2
more-itertools==10.6.0
mpmath==1.3.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.3
openai-whisper==20240930
pandas==2.2.3
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
requests==2.32.3
scipy==1.15.1
six==1.17.0
sounddevice==0.5.1
sympy==1.13.1
tiktoken==0.8.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
webrtcvad==2.0.10
Flask
Gunicorn
